In [34]:
import pandas as pd
import yfinance as yf

In [35]:
from datetime import datetime
amzn = yf.Ticker("AMZN")
aapl = yf.Ticker("AAPL")
goog = yf.Ticker("GOOG")
msft = yf.Ticker("MSFT")
print(amzn)

yfinance.Ticker object <AMZN>

In [37]:
amzn5y=amzn.history(period='5y', interval='1mo')
aapl5y=aapl.history(period='5y', interval='1mo')
goog5y=goog.history(period='5y', interval='1mo')
msft5y=msft.history(period='5y', interval='1mo')

In [38]:
amzn5y.to_csv('amzn5y.csv')
aapl5y.to_csv('aapl5y.csv')
goog5y.to_csv('goog5y.csv')
msft5y.to_csv('msft5y.csv')

In [45]:
amazon = pd.read_csv('amzn5y.csv')
apple = pd.read_csv('aapl5y.csv')
google = pd.read_csv('goog5y.csv')
microsoft = pd.read_csv('msft5y.csv')
google.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2019-01-01 00:00:00-05:00,50.828499,55.866501,50.703499,55.818501,614280000,0.0,0.0
1,2019-02-01 00:00:00-05:00,55.619999,57.349998,54.299999,55.995998,578654000,0.0,0.0
2,2019-03-01 00:00:00-05:00,56.244999,61.589500,56.165001,58.665501,632186000,0.0,0.0
3,2019-04-01 00:00:00-04:00,59.205002,64.463501,58.750000,59.424000,557104000,0.0,0.0
4,2019-05-01 00:00:00-04:00,59.402500,59.542500,55.008999,55.181499,666348000,0.0,0.0

In [48]:
dfs= [amazon, apple, google, microsoft]

In [50]:
for df in dfs:
    df['Previous day volume']= df.Volume.shift(1)
    df['Change in volume']= df['Volume']- df['Previous day volume']
    df['Percent change in volume']= df.Volume.pct_change()
google.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Previous day volume,Change in volume,Percent change in volume
0,2019-01-01 00:00:00-05:00,50.828499,55.866501,50.703499,55.818501,614280000,0.0,0.0,NaN,NaN,NaN
1,2019-02-01 00:00:00-05:00,55.619999,57.349998,54.299999,55.995998,578654000,0.0,0.0,614280000.0,-35626000.0,-0.057996
2,2019-03-01 00:00:00-05:00,56.244999,61.589500,56.165001,58.665501,632186000,0.0,0.0,578654000.0,53532000.0,0.092511
3,2019-04-01 00:00:00-04:00,59.205002,64.463501,58.750000,59.424000,557104000,0.0,0.0,632186000.0,-75082000.0,-0.118766
4,2019-05-01 00:00:00-04:00,59.402500,59.542500,55.008999,55.181499,666348000,0.0,0.0,557104000.0,109244000.0,0.196093

In [51]:
for df in dfs:
    df['Previous day close price']= df.Close.shift(1)
    df['Change in price']= df['Close']- df['Previous day close price']
    df['Percent change in price']= df['Change in price']/ df['Previous day close price']
apple.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Previous day volume,Change in volume,Percent change in volume,Previous day close price,Change in price,Percent change in price
0,2019-01-01 00:00:00-05:00,37.166274,40.552007,34.073284,39.937729,3312349600,0.0000,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-02-01 00:00:00-05:00,40.062505,42.200481,39.815351,41.547810,1890162400,0.1825,0.0,3.312350e+09,-1.422187e+09,-0.429359,39.937729,1.610081,0.040315
2,2019-03-01 00:00:00-05:00,41.998310,47.639695,40.846417,45.774494,2603925600,0.0000,0.0,1.890162e+09,7.137632e+08,0.377620,41.547810,4.226685,0.101731
3,2019-04-01 00:00:00-04:00,46.181764,50.239898,45.396165,48.357830,2024470800,0.0000,0.0,2.603926e+09,-5.794548e+08,-0.222531,45.774494,2.583336,0.056436
4,2019-05-01 00:00:00-04:00,50.577276,51.885806,42.169419,42.188698,2957826400,0.1925,0.0,2.024471e+09,9.333556e+08,0.461037,48.357830,-6.169132,-0.127573

In [59]:
excel_file_path = '/desktop/portfolio/stockdataset/amazon.xlsx'

In [60]:
amazon.to_excel(excel_file_path, index=False)
apple.to_csv('aapl.csv')
google.to_csv('goog.csv')
microsoft.to_csv('msft.csv')

OSError: Cannot save file into a non-existent directory: '/desktop/portfolio/stockdataset'